body {
  text-align: center;
  font-family: Arial;
  background: #222;
  color: white;
  margin: 0;
  padding: 0;
}

#game-area {
  margin: 40px auto;
  width: 400px;
  height: 400px;
  background: #333;
  position: relative;
  border: 3px solid #555;
  border-radius: 10px;
}

#pixel {
  width: 30px;
  height: 30px;
  background: #0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}